
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start content -->
<div class="content">
    <div class="container">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-3 title-start">
                        <span>Dashboard</span>
                    </div>
                    <div class="col-md-9 title-end">
                        <!--
                               <ol class="breadcrumbs pull-right">
                            <li><a href="#">Moltran</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="active">Blank Page</li>
                        </ol>
                            -->
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-7">
                <div class="portlet bg-green">
                    <!-- /portlet heading -->
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark text-uppercase">
                            Leaf Collection
                        </h3>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="portlet1" class="panel-collapse collapse in ">
                        <div class="portlet-body bg-green">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="website-stats" style="position: relative;height: 100px"></div>
                                    <div class="row text-center m-t-30">
                                        <div class="col-sm-4">
                                        </div>
                                        <div class="col-sm-4">
                                            <h4 class="counter">86,69</h4>
                                            <small class="text-muted">Monthly Report</small>
                                        </div>
                                        <div class="col-sm-4">
                                            <h4 class="counter">948,16</h4>
                                            <small class="text-muted">Yearly Report</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Portlet -->
            </div>
            <!-- end col -->
            <div class="col-lg-5">
                <div class="portlet">
                    <!-- /portlet heading -->
                    <div class="portlet-heading bg-green">
                        <h3 class="portlet-title text-dark text-uppercase">
                            <img src="~/Content/assets/images/icons/supplier-white.png">Suppiers
                        </h3>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="portlet2" class="panel-collapse collapse in">
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12" style="height: 190px">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Portlet -->
            </div>
            <!-- end col -->
        </div>
        <!-- End row -->

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="mini-stat clearfix bx-shadow bg-green">
                    <span class="mini-stat-icon"><i class="ion-social-usd"></i></span>
                    <div class="mini-stat-info text-right">
                        <span class="counter">15852</span> Rate: 20%
                    </div>
                    <div class="tiles-progress">
                        <div class="m-t-20">
                            <h5 class="text-uppercase text-white m-0 pull-right">TOTAL PAYOUTS</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portlet">
                    <!-- /portlet heading -->
                    <div class="portlet-heading bg-green">
                        <h3 class="portlet-title text-dark text-uppercase">
                            <img src="~/Content/assets/images/icons/routes-white.png">Routes
                        </h3>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="portlet2" class="panel-collapse collapse in">
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12" style="height: 190px">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Portlet -->
            </div>
            <!-- end col -->
            <div class="col-lg-5">
                <div class="portlet">
                    <!-- /portlet heading -->
                    <div class="portlet-heading bg-green">
                        <h3 class="portlet-title text-dark text-uppercase">
                            <img src="~/Content/assets/images/icons/collectionoff-white.png">Collectors
                        </h3>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="portlet2" class="panel-collapse collapse in">
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12" style="height: 190px">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Portlet -->
            </div>
            <!-- end col -->
        </div>
        <!-- End row -->


    </div>
    <!-- container -->
</div>
<!-- content -->

